.btn {
  font-size: 22px;
  text-transform: uppercase;
  color: $white;
  background-color: $yel;
  border: none;
  border-radius: 50px;
  height: 65px;
  padding-top: 8px;
  font-family: 'enceReg', sans-serif;
  transition: .15s;

  &.noclick {
    opacity: 0.7;
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
    background-color: darken($yel, 5%);
    transition: .15s;
  }

  &:active {
    background-color: darken($yel, 10%);
    transition: .15s;
  }

  @media (max-width: 1700px) {
    height: 55px;
    font-size: 20px;
  }

  @media (max-width: 770px) {
    height: 50px;
    font-size: 18px;
  }
}

.benef__btn {
  padding: 5px 40px;
  padding-top: 9px;
  margin: 0 auto;
  display: block;
  height: 80px;

  @media (max-width: 1700px) {
    height: 55px;
    padding: 5px 30px;
    padding-top: 10px;
    font-size: 18px;
  }
}

.form__btn {
  padding: 5px 40px;
  padding-top: 11px;
  margin-right: auto;
  display: block;
  height: 70px;

  @media (max-width: 1700px) {
    height: 55px;
    padding: 5px 30px;
    padding-top: 10px;
    font-size: 18px;
  }
}

.apart__modal__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 380px;
  margin: 0 auto;
  letter-spacing: .7px;
  padding: 5px 30px;
  padding-top: 10px;

  @media (max-width: 600px) {
    font-size: 16px;
    max-width: 300px;
  }

  @media (max-width: 340px) {
    font-size: 14px;
  }
}

.geo__btn {
  margin: 0;
  margin-top: 60px;
}

.ben__m__btn {
  max-width: 255px;
  height: 80px;
  padding: 7px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 100px auto 0;
  letter-spacing: .6px;

  &:hover {
    text-decoration: none;
  }

  @media (max-width: 1700px) {
    margin: 50px auto 0;
  }
}

.param__btn {
  max-width: 340px;
  height: 80px;
  padding: 7px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 150px auto 0;
  letter-spacing: .6px;

  &:hover {
    text-decoration: none;
  }

  @media (max-width: 1700px) {
    margin: 100px auto 0;
    height: 60px;
    max-width: 320px;
  }

  @media (max-width: 700px) {
    margin: 60px auto 0;
  }
}