.benef {
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 135px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    position: absolute;
    top: 0px;
    left: 0;
    background-color: $gray;

    @media (max-width: 1700px) {
      height: 90px;
    }

    @media (max-width: 770px) {
      height: 30px;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 135px;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: $gray;

    @media (max-width: 1700px) {
      height: 90px;
    }

    @media (max-width: 770px) {
      height: 30px;
    }
  }
}

.benef__inner {
  padding: 220px 0 130px;

  @media (max-width: 1700px) {
    padding: 190px 0 100px;
  }

  @media (max-width: 550px) {
    padding: 120px 0 70px;
  }
}

.benef__block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 120px;
  flex-wrap: wrap;

  @media (max-width: 1700px) {
    margin-bottom: 60px;
    padding: 0 75px;
  }

  @media (max-width: 760px) {
    padding: 0;
  }

  @media (max-width: 550px) {
    margin-bottom: 10px;
  }
}

.benef__item {
  display: flex;
  align-items: flex-end;
  width: 25%;
  margin-bottom: 50px;
  justify-content: center;

  @media (max-width: 1250px) {
    width: 50%;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.benef__img {
  max-width: 40px;
  margin-right: 20px;

  @media (max-width: 1700px) {
    max-width: 35px;
  }

  @media (max-width: 1250px) {
    margin: 0px auto 12px;
  }


}

.benef__text {
  // writing-mode: tb-rl;
  // transform: rotate(180deg);
  font-size: 18px;
  color: $purp_wt2;

  @media (max-width: 1700px) {
    font-size: 17px;
  }
  @media (max-width: 1250px) {
    writing-mode: inherit;
    transform: inherit;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
  }

  @media (max-width: 992px) {
    font-size: 16px;
  }


  @media (max-width: 390px) {
    font-size: 14px;
  }

  @media (max-width: 350px) {
    font-size: 12px;
  }
}