<div class="etap about">
  <div class="container">

    <div class="main__title__block etap__title">
      <img src="@i/mini_logo.png" alt="logo" class="main__title__img">
      <div class="main__title__right">
        <h3 class="main__title">Амина</h3>
        <p class="main__subtitle">Жилищный комплекс</p>
      </div>
    </div>

    <div class="etap__inner">

      <div class="etap__left">
        <h4 class="etap__title">Амина</h4>
        <p class="etap__subtitle">Жилищный комплекс</p>
      </div>

      <div class="etap__slide">
        <div class="etap__slider">
          <a data-fancybox="etap" class="etap__slide__item" href="@img/visotka.jpg">
            <img src="@img/visotka.jpg" alt="etap" class="etap__slide__img">
          </a>
          <a data-fancybox="etap" class="etap__slide__item" href="@img/visotka.jpg">
            <img src="@img/visotka.jpg" alt="etap" class="etap__slide__img">
          </a>
          <a data-fancybox="etap" class="etap__slide__item" href="@img/visotka.jpg">
            <img src="@img/visotka.jpg" alt="etap" class="etap__slide__img">
          </a>
        </div>
      </div>

      <div class="etap__right">
        <div class="etap__way">
          <div class="etap__way__circle"></div>
          <div class="etap__way__line"></div>
        </div>
        <div class="etap__right__info">
          <p class="etap__right__info__m">ЖК «Амина» – это современный дизайн семи подъездного дома. Продуманные планировки представлены в широком выборе однокомнатных, двухкомнатных и трехкомнатных квартир общей площадью от 30 до 100 кв.м. На площадке расположено 3- 4 квартиры. Удобство проживания дополняется наличием собственного подземного паркинга.</p>
        </div>
      </div>

    </div>
  </div>
</div>