<div class="benef">
  <div class="container">
    <div class="benef__inner">

      <div class="main__title__block">
        <img src="@i/mini_logo.png" alt="logo" class="main__title__img">
        <div class="main__title__right">
          <h3 class="main__title">Преимущества</h3>
          <p class="main__subtitle">Жк Parklane</p>
        </div>
      </div>

      <div class="benef__block">
        <div class="benef__item">
          <img src="@i/udob.svg" alt="benef" class="benef__img">
          <p class="benef__text">Удобное<br>месторасположение</p>
        </div>
        <div class="benef__item">
          <img src="@i/bez.svg" alt="benef" class="benef__img">
          <p class="benef__text">Высокий уровень<br>безопасности</p>
        </div>
        <div class="benef__item">
          <img src="@i/komfort.svg" alt="benef" class="benef__img">
          <p class="benef__text">Комфортная<br>инфраструктура</p>
        </div>
        <div class="benef__item">
          <img src="@i/ozelen.svg" alt="benef" class="benef__img">
          <p class="benef__text">Озеленение<br>территории</p>
        </div>
      </div>

      <button class="btn benef__btn">Показать расположение</button>

    </div>
  </div>
</div>