<div class="benef__m">
  <div class="container">
    <div class="benef__m__inner">

      <div class="main__title__block">
        <img src="@i/mini_logo.png" alt="logo" class="main__title__img">
        <div class="main__title__right">
          <h3 class="main__title">Преимущества</h3>
          <p class="main__subtitle">Жк TITLE</p>
        </div>
      </div>

      <div class="benef__m__block">
        <div class="benef__m__block__item benef__m__block__top">
          <div class="benef__m__item">
            <img src="@i/ozel.svg" alt="icon" class="benef__m__img">
            <p class="benef__m__text">Закрытй <br>двор</p>
          </div>
          <div class="benef__m__item">
            <img src="@i/okna.svg" alt="icon" class="benef__m__img">
            <p class="benef__m__text">Панорамные <br>окна</p>
          </div>
          <div class="benef__m__item">
            <img src="@i/potolki.svg" alt="icon" class="benef__m__img">
            <p class="benef__m__text">Высота потолков <br>2.7-3.6 м.</p>
          </div>
          <div class="benef__m__item">
            <img src="@i/plochad.svg" alt="icon" class="benef__m__img">
            <p class="benef__m__text">Площадь от 30 <br>до 100 кв.м.</p>
          </div>
        </div>

        <div class="benef__m__block__item benef__m__block__bot">
          <div class="benef__m__item">
            <img src="@i/lift.svg" alt="icon" class="benef__m__img">
            <p class="benef__m__text">Бесшумные<br>лифты</p>
          </div>
          <div class="benef__m__item">
            <img src="@i/parking.svg" alt="icon" class="benef__m__img">
            <p class="benef__m__text">Подземный<br>паркинг</p>
          </div>
          <div class="benef__m__item">
            <img src="@i/otdelka.svg" alt="icon" class="benef__m__img">
            <p class="benef__m__text">Улучшенная<br>отделка</p>
          </div>
        </div>
      </div>

      <a href="" class="btn form__btn ben__m__btn">Скачать буклеты</a>

    </div>
  </div>
</div>