<div class="etap">
  <div class="container">
    <div class="etap__inner">

      <div class="etap__left">
        <h4 class="etap__title">Текущий</h4>
        <p class="etap__subtitle">Этап строительства</p>
      </div>

      <div class="etap__slide">
        <div class="etap__slider">
          <a data-fancybox="etap" class="etap__slide__item" href="@img/visotka.jpg">
            <img src="@img/visotka.jpg" alt="etap" class="etap__slide__img">
          </a>
          <a data-fancybox="etap" class="etap__slide__item" href="@img/visotka.jpg">
            <img src="@img/visotka.jpg" alt="etap" class="etap__slide__img">
          </a>
          <a data-fancybox="etap" class="etap__slide__item" href="@img/visotka.jpg">
            <img src="@img/visotka.jpg" alt="etap" class="etap__slide__img">
          </a>
        </div>
      </div>

      <div class="etap__right">
        <div class="etap__way">
          <div class="etap__way__circle"></div>
          <div class="etap__way__line"></div>
          <div class="etap__way__circle"></div>
        </div>
        <div class="etap__right__info">
          <div class="etap__right__item">
            <p class="etap__right__text">Начало<br> <span>4 квартал 2021 год</span></p>
            <p class="etap__right__text">Сдача<br> <span>3 квартал 2023 год</span></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>