<div class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__left">
					<div class="header__burger">
						<div class="header__burger__top">
							<img src="@i/burger.svg" alt="burger" class="header__burger__icon">
							<div class="header__burger__title">Меню</div>
						</div>
						<div class="header__burger__inner">
							<ul>
								<li><a href="">Главная</a></li>
								<li><a href="">Новости</a></li>
								<li><a href="">Поиск квартир</a></li>
								<li><a href="">Parklane</a></li>
								<li><a href="">Альтаир</a></li>
								<li><a href="">Элем</a></li>
								<li><a href="">Амина</a></li>
								<li><a href="">Сулу</a></li>
								<li><a href="">О нас</a></li>
								<li><a href="">Контакты</a></li>
							</ul>
						</div>
					</div>
			</div>
			<div class="footer__center">
				<img src="@i/logo.png" alt="logo" class="footer__logo">
				<a href="tel:" class="footer__mainnumber">+7(7172)613-000</a>
				<a href="tel:" class="footer__number">+7(7172)613-333</a>
				<a href="tel:" class="footer__number">+7-710-000-06-98</a>
			</div>
			<div class="footer__right">
				<div class="footer__right__inner">
					<p class="footer__right__item">г.Астана</p>
					<p class="footer__right__item">ул. Нажимеденова, 14/1</p>
					<a href="mailto:info@asemkala.kz" class="footer__right__item">info@asemkala.kz</a>
				</div>
			</div>
		</div>
	</div>
<!--<iframe src="https://snazzymaps.com/embed/415488" width="100%" height="600px" style="border:none;"></iframe>-->
</div>