<div class="form">
  <div class="container">
    <div class="form__inner">

      <div class="form__left">
        <div class="form__title__block">
          <img src="@i/mini_logo.png" alt="logo" class="main__title__img">
          <div class="form__title__right">
            <h3 class="form__title">Оставьте</h3>
            <p class="form__subtitle">Заявку</p>
          </div>
        </div>


        <form action="" class="form__form">
          <p class="form__minisubtitle">И получите консультацию специалиста</p>
          <input id="phone2" type="text" class="header__form__input form__input" placeholder="Номер телефона">
          <button class="btn form__btn">Отправить</button>
          <div class="form__check">
            <input id="form1" type="checkbox">
            <label for="form1" for="">Нажимая "Отправить" Вы соглашаетесь с политикой конфиденциальность</label>
          </div>
        </form>
      </div>

      <img src="@img/man.png" alt="man" class="form__man">

    </div>
  </div>
</div>