<div class="geo">
  <div class="container">
    <div class="geo__inner">
      <div class="main__title__block">
        <img src="@i/mini_logo.png" alt="logo" class="main__title__img">
        <div class="main__title__right">
          <h3 class="main__title">Местоположение <span>Амина</span></h3>
        </div>
      </div>

      <div class="etap__right">
        <div class="etap__way">
          <div class="etap__way__circle"></div>
          <div class="etap__way__line"></div>
        </div>
        <div class="etap__right__info">
          <p class="etap__right__info__m">Жилой комплекс «Aмина» расположился в новом административном районе столицы, который является продолжением левого берега
          и Аллеи тысячелетия. В нескольких минутах ходьбы расположена станция легкорельсового транспорта LRT, соединяющего
          аэропорт и новый железнодорожный вокзал «Нурлы жол». По пути следования данного вида транспорта вы сумеете насладиться
          шикарными видами левого берега Астаны, а также выставочного павильона «EXPO-2017».</p>
          <button class="btn benef__btn geo__btn">Показать расположение</button>
        </div>
      </div>


    </div>
  </div>
</div>

