<div class="header">
	<div class="header__down">
		<div class="header__down__btn">
			<img src="@i/arrow.svg" alt="arrow" class="header__down__arrow">
		</div>
	</div>
	<div class="container">
		<div class="header__top">
			<div class="header__burger">
				<div class="header__burger__top">
					<img src="@i/burger.svg" alt="burger" class="header__burger__icon">
					<div class="header__burger__title">Меню</div>
				</div>
				<div class="header__burger__inner">
					<ul>
						<li><a href="">Главная</a></li>
						<li><a href="">Новости</a></li>
						<li><a href="">Поиск квартир</a></li>
						<li><a href="">Parklane</a></li>
						<li><a href="">Альтаир</a></li>
						<li><a href="">Элем</a></li>
						<li><a href="">Амина</a></li>
						<li><a href="">Сулу</a></li>
						<li><a href="">О нас</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
			</div>
			<div class="header__social">
				<a href="" class="header__soc__link">
					<img src="@i/telegram.svg" alt="telega" class="header__soc__img">
				</a>
				<a href="" class="header__soc__link what">
					<img src="@i/whatsapp.svg" alt="telega" class="header__soc__img">
				</a>
				<a href="" class="header__num__link">+7(7172)613-000</a>
			</div>
		</div>

		<div class="header__middle">
			<div class="header__tilteblock">
				<h1 class="header__maintitle">Жк parklane</h1>
				<p class="header__mainsubtitle">для жизни</p>
			</div>
		</div>
		<div class="header__main">
			<div class="header__info">
				<div class="header__info__inner">
					<p class="header__info__title">Жк бизнес<br>класс</p>
					<div class="header__info__item">
						<p>34 м<span>2</span></p>
						<div>Мин.площадь</div>
					</div>
					<div class="header__info__item">
						<p>430.000 <span>тг.</span></p>
						<div>Цена за кв.м</div>
					</div>
				</div>
			</div>
			<div class="header__form">
				<form action="" class="header__form__form">
					<p class="header__form__title">Скачать pdf презентацию в один клик</p>
					<input id="phone1" type="text" class="header__form__input" placeholder="Номер телефона">
					<button class="btn header__form__btn">Скачать презентацию</button>
				</form>
			</div>
		</div>
	</div>
</div>




<input type="hidden" class="scroll__to">