<div class="header main" style="background: url(assets/img/bg/fon_osn_amina.jpg) no-repeat center / cover;">
	<div class="header__down">
		<div class="header__down__btn">
			<img src="@i/arrow.svg" alt="arrow" class="header__down__arrow">
		</div>
	</div>
	<div class="container">
		<div class="header__top">
			<div class="header__burger">
				<div class="header__burger__top">
					<img src="@i/burger.svg" alt="burger" class="header__burger__icon">
					<div class="header__burger__title">Меню</div>
				</div>
				<div class="header__burger__inner">
					<ul>
						<li><a href="">Главная</a></li>
						<li><a href="">Новости</a></li>
						<li><a href="">Поиск квартир</a></li>
						<li><a href="">Parklane</a></li>
						<li><a href="">Альтаир</a></li>
						<li><a href="">Элем</a></li>
						<li><a href="">Амина</a></li>
						<li><a href="">Сулу</a></li>
						<li><a href="">О нас</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
			</div>
			<div class="header__social">
				<a href="" class="header__soc__link">
					<img src="@i/telegram.svg" alt="telega" class="header__soc__img">
				</a>
				<a href="" class="header__soc__link what">
					<img src="@i/whatsapp.svg" alt="telega" class="header__soc__img">
				</a>
				<a href="" class="header__num__link">+7(7172)613-000</a>
			</div>
		</div>

		<div class="header__middle">
			<div class="header__tilteblock">
				<h1 class="header__maintitle">Жк Амина</h1>
				<p class="header__main__m__subtitle">Недвижимость премиум-класса, в котором качество и статус говорят за себя</p>
			</div>
		</div>
		<div class="header__main">

			<div class="header__info main">
				<div class="header__info__inner main">
					<img src="@i/logo.png" alt="logo" class="header__info__m__img">
					<p class="header__info__m__title">Более 12 лет</p>
					<p class="header__info__m__minititle">на рынке <br> недвижимости</p>
				</div>
			</div>

		</div>
	</div>
</div>


