<div class="header main" style="background: url(assets/img/bg/fon_osn_amina.jpg) no-repeat center / cover;">
  <div class="container">
    <div class="header__top">
      <div class="header__burger">
        <div class="header__burger__top">
          <img src="@i/burger.svg" alt="burger" class="header__burger__icon">
          <div class="header__burger__title">Меню</div>
        </div>
        <div class="header__burger__inner">
          <ul>
            <li><a href="">Главная</a></li>
            <li><a href="">Новости</a></li>
            <li><a href="">Поиск квартир</a></li>
            <li><a href="">Parklane</a></li>
            <li><a href="">Альтаир</a></li>
            <li><a href="">Элем</a></li>
            <li><a href="">Амина</a></li>
            <li><a href="">Сулу</a></li>
            <li><a href="">О нас</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="header__social">
        <a href="" class="header__soc__link">
          <img src="@i/telegram.svg" alt="telega" class="header__soc__img">
        </a>
        <a href="" class="header__soc__link what">
          <img src="@i/whatsapp.svg" alt="telega" class="header__soc__img">
        </a>
        <a href="" class="header__num__link">+7(7172)613-000</a>
      </div>
    </div>

    <div class="header__middle">
      <div class="header__tilteblock">
        <h1 class="header__maintitle">Выберите квартиру</h1>
      </div>
    </div>


    <div class="param__block">
      <div class="1 param__select__out">
        <div data-param="none" class="param__select">Кол-во комнат</div>
        <div class="param__menu">
          <div data-param="nothing" class="param__item">Не важно</div>
          <div data-param="1-комнатные" class="param__item">1-комнатные</div>
          <div data-param="2-комнатные" class="param__item">2-комнатные</div>
          <div data-param="3-комнатные" class="param__item">3-комнатные</div>
          <div data-param="4-комнатные" class="param__item">4-комнатные</div>
          <div data-param="5-комнатные" class="param__item">5-комнатные</div>
          <div data-param="6-комнатные" class="param__item">6-комнатные</div>
        </div>
      </div>
      <div class="2 param__select__out">
        <div data-param="none" class="param__select">Этаж</div>
        <div class="param__menu">
          <div data-param="nothing" class="param__item">Не важно</div>
          <div data-param="1 этаж" class="param__item">1 этаж</div>
          <div data-param="2 этаж" class="param__item">2 этаж</div>
          <div data-param="3 этаж" class="param__item">3 этаж</div>
          <div data-param="4 этаж" class="param__item">4 этаж</div>
          <div data-param="5 этаж" class="param__item">5 этаж</div>
          <div data-param="6 этаж" class="param__item">6 этаж</div>
          <div data-param="7 этаж" class="param__item">7 этаж</div>
          <div data-param="8 этаж" class="param__item">8 этаж</div>
          <div data-param="9 этаж" class="param__item">9 этаж</div>
          <div data-param="10 этаж" class="param__item">10 этаж</div>
          <div data-param="11 этаж" class="param__item">11 этаж</div>
          <div data-param="12 этаж" class="param__item">12 этаж</div>
          <div data-param="13 этаж" class="param__item">13 этаж</div>
          <div data-param="14 этаж" class="param__item">14 этаж</div>
          <div data-param="15 этаж" class="param__item">15 этаж</div>
        </div>
      </div>
      <div class="3 param__select__out">
        <div data-param="none" class="param__select">Здание</div>
        <div class="param__menu">
          <div data-param="nothing" class="param__item">Не важно</div>
          <div data-param="Parklane" class="param__item">Parklane</div>
          <div data-param="Амина" class="param__item">Амина</div>
          <div data-param="Сулу" class="param__item">Сулу</div>
          <div data-param="Элем" class="param__item">Элем</div>
          <div data-param="Альтаир" class="param__item">Альтаир</div>
        </div>
      </div>
    </div>

  </div>
</div>
