<div class="insta">
  <div class="container">
    <div class="insta__inner">

      <div class="main__title__block">
        <img src="@i/insta.png" alt="logo" class="main__title__img">
        <div class="main__title__right">
          <p class="main__subtitle">Мы в</p>
          <h3 class="main__title">Instagram</h3>
        </div>
      </div>

      <div class="insta__block">
        <div class="insta__block__left" id="instafeed"></div>
        <div class="insta__block__right">
          <a href="" class="insta__block__link">></a>
        </div>
      </div>

    </div>
  </div>
</div>