<div class="apart__modal">
  <div class="apart__modal__inner">
    <img src="@i/cross.svg" alt="cross" class="apart__modal__cross">

    <div class="apart__modal__main">
      <img src="@i/mini_logo.png" alt="logo" class="apart__modal__logo">
      <p class="apart__modal__title">План<br>Квартиры</p>
      <img src="" alt="apart" class="apart__modal__image">

      <div class="apart__modal__info">
      </div>

      <div class="apart__modal__ploshad">ОБЩАЯ ПЛОЩАДЬ <span>м²</span></div>

      <div class="btn form__btn apart__modal__btn">Заказать обратный звонок</div>
    </div>

    <div class="apart__modal__form">
      <img src="@i/mini_logo.png" alt="logo" class="apart__modal__logo">
      <p class="apart__modal__title">Оставить<br>заявку</p>

      <form action="" class="apart__modal__form__form">
        <input value="" name="name" type="text" class="apart__modal__input header__form__input" placeholder="Ваше имя">
        <input value="" name="phone" id="phone3" type="text" class="apart__modal__input header__form__input" placeholder="Номер телефона">

        <input name="title" type="hidden" value="">
        <input name="house" type="hidden" value="Parklane">

        <button class="btn apart__modal__btn">Оставить заявку</button>
      </form>
    </div>
  </div>
</div>



<div class="map__modal">
  <div class="map__modal__inner">
    <img src="@i/cross.svg" alt="cross" class="map__modal__cross">
    <img src="@i/mini_logo.png" alt="logo" class="apart__modal__logo">
    <p class="apart__modal__title">Расположение</p>
    <img src="@img/map.jpg" alt="cross" class="map__modal__map">
  </div>
</div>




<div class="plan__modal">
  <div class="plan__modal__inner">
    <img src="@i/cross.svg" alt="cross" class="plan__modal__cross">
    <img src="@i/mini_logo.png" alt="logo" class="apart__modal__logo">
    <p class="apart__modal__title">План этажа</p>
    <p class="plan__modal__subtitle"></p>
    <div class="plan__modal__blocks">

      <!-- Корпус Б -->
      <div class="plan__modal__item b6_14">
        <img src="@img/et/b6_14.jpg" alt="etaj" class="plan__modal__item__image">

        <div class="room room1_b6_14">
          <input name="info" type="hidden" value="Спальня <span>18.91м²</span>">
          <input name="info" type="hidden" value="Спальня <span>12.92м²</span>">
          <input name="info" type="hidden" value="Спальня <span>17.25м²</span>">
          <input name="info" type="hidden" value="С\У <span>6.40м²</span>">
          <input name="info" type="hidden" value="С\У <span>5.80м²</span>">
          <input name="info" type="hidden" value="С\У <span>3.06м²</span>">
          <input name="info" type="hidden" value="Балкон <span>4.48м²</span>">
          <input name="info" type="hidden" value="Кухня <span>14.23м²</span>">
          <input name="info" type="hidden" value="Хол <span>6.10м²</span>">
          <input name="info" type="hidden" value="Гард. <span>4.35м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>23.69м²</span>">

          <input name="ploshad" type="hidden" value="117.65">
          <input name="image" type="hidden" value="assets/img/photo/et/b6_14/b6_14_1.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room2_b6_14">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b6_14/b6_14_2.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117. 65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room3_b6_14">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b6_14/b6_14_3.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room4_b6_14">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b6_14/b6_14_4.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room5_b6_14">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b6_14/b6_14_5.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room6_b6_14">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b6_14/b6_14_6.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

      </div>

      <div class="plan__modal__item b3_5">
        <img src="@img/et/b3_5.jpg" alt="etaj" class="plan__modal__item__image">

        <div class="room room1_b3_5">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b3_5/b3_5_1.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room2_b3_5">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b3_5/b3_5_2.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117. 65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room3_b3_5">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b3_5/b3_5_3.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room4_b3_5">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b3_5/b3_5_4.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room5_b3_5">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b3_5/b3_5_5.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room6_b3_5">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b3_5/b3_5_6.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>
      </div>

      <div class="plan__modal__item b2">
        <img src="@img/et/b2.jpg" alt="etaj" class="plan__modal__item__image">

        <div class="room room1_b2">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b2/b2_1.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room2_b2">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b2/b2_2.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117. 65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room3_b2">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b2/b2_3.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room4_b2">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b2/b2_4.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room5_b2">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b2/b2_5.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room6_b2">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/b2/b2_6.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>
      </div>

      <!-- Корпус В -->
      <div class="plan__modal__item v6_10">
        <img src="@img/et/v6_10.jpg" alt="etaj" class="plan__modal__item__image">

        <div class="room room1_v6_10">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/v6_10/v6_10_1.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room2_v6_10">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/v6_10/v6_10_2.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room3_v6_10">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/v6_10/v6_10_3.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room4_v6_10">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/v6_10/v6_10_4.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>
      </div>

      <div class="plan__modal__item v3_5">
        <img src="@img/et/v3_5.jpg" alt="etaj" class="plan__modal__item__image">

        <div class="room room1_v3_5">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/v3_5/v3_5_1.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room2_v3_5">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/v3_5/v3_5_2.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room3_v3_5">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/v3_5/v3_5_3.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room4_v3_5">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/v3_5/v3_5_4.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>
      </div>

      <div class="plan__modal__item v2">
        <img src="@img/et/v2.jpg" alt="etaj" class="plan__modal__item__image">

        <div class="room room1_v2">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/v2/v2_1.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room2_v2">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/v2/v2_2.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room3_v2">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/v2/v2_3.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room4_v2">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/v2/v2_4.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>
      </div>

      <!-- Корпус А -->
      <div class="plan__modal__item a15">
        <img src="@img/et/a15.jpg" alt="etaj" class="plan__modal__item__image">

        <div class="room room1_a15">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a15/a15_1.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room2_a15">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a15/a15_2.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>
      </div>

      <div class="plan__modal__item a14">
        <img src="@img/et/a14.jpg" alt="etaj" class="plan__modal__item__image">

        <div class="room room1_a14">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a14/a14_1.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room2_a14">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a14/a14_2.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>
      </div>

      <div class="plan__modal__item a9_13">
        <img src="@img/et/a9_13.jpg" alt="etaj" class="plan__modal__item__image">

        <div class="room room1_a9_13">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a9_13/a9_13_1.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room2_a9_13">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a9_13/a9_13_2.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room3_a9_13">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a9_13/a9_13_3.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room4_a9_13">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a9_13/a9_13_4.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room5_a9_13">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a9_13/a9_13_5.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room6_a9_13">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a9_13/a9_13_6.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room7_a9_13">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a9_13/a9_13_7.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room8_a9_13">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a9_13/a9_13_8.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room9_a9_13">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a9_13/a9_13_9.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

      </div>

      <div class="plan__modal__item a3_8">
        <img src="@img/et/a3_8.jpg" alt="etaj" class="plan__modal__item__image">

        <div class="room room1_a3_8">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a3_8/a3_8_1.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room2_a3_8">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a3_8/a3_8_2.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room3_a3_8">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a3_8/a3_8_3.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room4_a3_8">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a3_8/a3_8_4.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room5_a3_8">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a3_8/a3_8_5.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room6_a3_8">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a3_8/a3_8_6.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room7_a3_8">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a3_8/a3_8_7.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room8_a3_8">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a3_8/a3_8_8.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>

        <div class="room room9_a3_8">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Гостиная <span>10 м²</span>">
          <input name="info" type="hidden" value="Санузел <span>10 м²</span>">
          <input name="info" type="hidden" value="Гардероб <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">
          <input name="info" type="hidden" value="Спальня <span>10 м²</span>">

          <input name="ploshad" type="hidden" value="200">
          <input name="image" type="hidden" value="assets/img/photo/et/a3_8/a3_8_9.jpg">
          <input name="title" type="hidden" value="Блок Б, 6-14 этаж, Квартира - 117.65м²">
          <p class="room__sales__title">Продано</p>
        </div>
      </div>

    </div>
  </div>
</div>