<div class="news">
  <div class="container">
    <div class="news__inner">

      <div class="main__title__block">
        <img src="@i/mini_logo.png" alt="logo" class="main__title__img">
        <div class="main__title__right">
          <h3 class="main__title">Новости</h3>
        </div>
      </div>

      <div class="news__block">
        <a href="" class="news__item">
          <div style="background: url(assets/img/bg/fon_asem.jpg) no-repeat center / cover;" class="news__item__img"></div>
          <div class="news__item__bottom">
            <div class="news__item__date">
              <div class="news__item__datetime">12</div>
              <div class="news__item__mouns">02.22</div>
            </div>
            <p class="news__item__title">Доступное жилье</p>
          </div>
        </a>
        <a href="" class="news__item">
          <div style="background: url(assets/img/bg/fon_asem.jpg) no-repeat center / cover;" class="news__item__img"></div>
          <div class="news__item__bottom">
            <div class="news__item__date">
              <div class="news__item__datetime">12</div>
              <div class="news__item__mouns">02.22</div>
            </div>
            <p class="news__item__title">Доступное жилье</p>
          </div>
        </a>
        <a href="" class="news__item">
          <div style="background: url(assets/img/bg/fon_asem.jpg) no-repeat center / cover;" class="news__item__img"></div>
          <div class="news__item__bottom">
            <div class="news__item__date">
              <div class="news__item__datetime">12</div>
              <div class="news__item__mouns">02.22</div>
            </div>
            <p class="news__item__title">Доступное жилье</p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>