<div class="object">
  <div class="container">
    <div class="object__inner">

      <div class="main__title__block">
        <img src="@i/mini_logo.png" alt="logo" class="main__title__img">
        <div class="main__title__right">
          <h3 class="main__title">Наши</h3>
          <p class="main__subtitle">Объекты</p>
        </div>
      </div>

      <div class="object__block">
        <div class="object__slider">

          <div class="object__slide">
            <a class="object__slide__link" href=""></a>
            <div class="object__left">
              <a href="" class="object__image__link">
                <img src="@img/object1.jpg" alt="image" class="object__image">
              </a>
              <div class="object__left__bottom">
                <p class="object__info__item">4 корпуса</p>
                <div class="object__info__item__line"></div>
                <p class="object__info__item">озеленение</p>
                <div class="object__info__item__line"></div>
                <p class="object__info__item">зоны отдыха</p>
              </div>
            </div>
            <div class="object__right">
              <p class="object__title">Parklane</p>
              <p class="object__subtitle">Жилищный комплекс</p>


              <div class="object__right__block">
                <div class="etap__way">
                  <div class="etap__way__circle"></div>
                  <div class="etap__way__line"></div>
                </div>
                <div class="object__right__info">
                  <div class="object__right__info__item"><span>Этап строительства:</span> в процессе</div>
                  <div class="object__right__info__item"><span>Местоположение:</span> площадь независимости Нур-Султан</div>
                  <a href="   " class="object__link">Подробнее</a>
                </div>
              </div>

              <!-- <a href="" class="object__btn">></a> -->
            </div>
          </div>

          <div class="object__slide">
            <div class="object__left">
              <a href="" class="object__image__link">
                <img src="@img/object1.jpg" alt="image" class="object__image">
              </a>
              <div class="object__left__bottom">
                <p class="object__info__item">4 корпуса</p>
                <div class="object__info__item__line"></div>
                <p class="object__info__item">озеленение</p>
                <div class="object__info__item__line"></div>
                <p class="object__info__item">зоны отдыха</p>
              </div>
            </div>
            <div class="object__right">
              <p class="object__title">Parklane</p>
              <p class="object__subtitle">Жилищный комплекс</p>


              <div class="object__right__block">
                <div class="etap__way">
                  <div class="etap__way__circle"></div>
                  <div class="etap__way__line"></div>
                </div>
                <div class="object__right__info">
                  <div class="object__right__info__item"><span>Этап строительства:</span> в процессе</div>
                  <div class="object__right__info__item"><span>Местоположение:</span> площадь независимости Нур-Султан</div>
                  <a href="" class="object__link">Подробнее</a>
                </div>
              </div>

              <!-- <a href="" class="object__btn">></a> -->
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>