<div class="option">
  <div class="container">
    <div class="option__inner">

      <div class="main__title__block">
        <img src="@i/mini_logo.png" alt="logo" class="main__title__img">
        <div class="main__title__right">
          <h3 class="main__title">Варианты</h3>
          <p class="main__subtitle">Квартир</p>
        </div>
      </div>

      <div class="option__btns">
        <div class="option__btn">Студия от 28 м²</div>
        <div class="option__btn">1-комнатные квартиры от 28 м²</div>
        <div class="option__btn">2-комнатные квартиры от 60 м²</div>
        <div class="option__btn">3-комнатные квартиры от 100 м²</div>
      </div>

      <div class="option__slides">
        <div class="option__slide">

          <div class="option__item">

            <input name="info" type="hidden" value="Спальня <span>64,9м²</span>">
            <input name="info" type="hidden" value="Гостиная <span>84,9м²</span>">
            <input name="info" type="hidden" value="Санузел <span>34,9м²</span>">
            <input name="info" type="hidden" value="Гардероб <span>74,9м²</span>">
            <input name="info" type="hidden" value="Спальня <span>44,9м²</span>">
            <input name="info" type="hidden" value="Спальня <span>34,9м²</span>">
            <input name="info" type="hidden" value="Спальня <span>54,9м²</span>">

            <input name="title" type="hidden" value="студия №12">
            <input name="ploshad" type="hidden" value="200">
            <input name="image" type="hidden" value="assets/img/photo/apart1.jpg">

            <p class="option__item__title">студия №12</p>
            <a  href="@img/option1.jpg" class="option__item__image">
              <img src="@img/option1.jpg" alt="option" class="option__item__img">
            </a>
            <div class="option__item__info">
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/build.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">Этаж 5/10</p>
              </div>
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/floor.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">36 м²</p>
              </div>
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/tenge.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">43.000.000 <span>тг.</span></p>
              </div>
            </div>
          </div>

          <div class="option__item">
            <p class="option__item__title">студия №12</p>
            <a  href="@img/option1.jpg" class="option__item__image">
              <img src="@img/option1.jpg" alt="option" class="option__item__img">
            </a>
            <div class="option__item__info">
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/build.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">Этаж 5/10</p>
              </div>
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/floor.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">36 м²</p>
              </div>
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/tenge.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">43.000.000 <span>тг.</span></p>
              </div>
            </div>
          </div>

        </div>
        <div class="option__slide">

          <div class="option__item">
            <p class="option__item__title">студия №12</p>
            <a  href="@img/option1.jpg" class="option__item__image">
              <img src="@img/option1.jpg" alt="option" class="option__item__img">
            </a>
            <div class="option__item__info">
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/build.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">Этаж 5/10</p>
              </div>
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/floor.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">36 м²</p>
              </div>
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/tenge.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">43.000.000 <span>тг.</span></p>
              </div>
            </div>
          </div>

          <div class="option__item">
            <p class="option__item__title">студия №12</p>
            <a  href="@img/option1.jpg" class="option__item__image">
              <img src="@img/option1.jpg" alt="option" class="option__item__img">
            </a>
            <div class="option__item__info">
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/build.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">Этаж 5/10</p>
              </div>
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/floor.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">36 м²</p>
              </div>
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/tenge.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">43.000.000 <span>тг.</span></p>
              </div>
            </div>
          </div>

          <div class="option__item">
            <p class="option__item__title">студия №12</p>
            <a  href="@img/option1.jpg" class="option__item__image">
              <img src="@img/option1.jpg" alt="option" class="option__item__img">
            </a>
            <div class="option__item__info">
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/build.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">Этаж 5/10</p>
              </div>
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/floor.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">36 м²</p>
              </div>
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/tenge.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">43.000.000 <span>тг.</span></p>
              </div>
            </div>
          </div>

          <div class="option__item">
            <p class="option__item__title">студия №12</p>
            <a  href="@img/option1.jpg" class="option__item__image">
              <img src="@img/option1.jpg" alt="option" class="option__item__img">
            </a>
            <div class="option__item__info">
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/build.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">Этаж 5/10</p>
              </div>
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/floor.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">36 м²</p>
              </div>
              <div class="option__info__item">
                <div class="option__info__item__img__outer">
                  <img src="@i/tenge.png" alt="info" class="option__info__item__img">
                </div>
                <p class="option__info__item__text">43.000.000 <span>тг.</span></p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>