<div class="plan">
  <div class="container">
    <div class="plan__inner">

      <div class="main__title__block">
        <img src="@i/mini_logo.png" alt="logo" class="main__title__img">
        <div class="main__title__right">
          <h3 class="main__title">Выберете</h3>
          <p class="main__subtitle">Планировку</p>
        </div>
      </div>

      <div class="plan__main">
        <div class="plan__block">
          <img src="@img/plan.png" alt="plan" class="plan__image">

          <img src="@img/plan.png" alt="plan" class="plan__image__mobile">

          <!-- Корус Б -->
          <div class="plan__sec b14 l">
            <input name="info" type="hidden" value="Корпус Б, <br>14 этаж, <br>квартир - 6">
          </div>

          <div class="plan__sec b13 l">
            <input name="info" type="hidden" value="Корпус Б, <br>13 этаж, <br>квартир - 6">
          </div>

          <div class="plan__sec b12 l">
            <input name="info" type="hidden" value="Корпус Б, <br>12 этаж, <br>квартир - 6">
          </div>

          <div class="plan__sec b11 l">
            <input name="info" type="hidden" value="Корпус Б, <br>11 этаж, <br>квартир - 6">
          </div>

          <div class="plan__sec b10 l">
            <input name="info" type="hidden" value="Корпус Б, <br>10 этаж, <br>квартир - 6">
          </div>

          <div class="plan__sec b9 l">
            <input name="info" type="hidden" value="Корпус Б, <br>9 этаж, <br>квартир - 6">
          </div>

          <div class="plan__sec b8 l">
            <input name="info" type="hidden" value="Корпус Б, <br>8 этаж, <br>квартир - 6">
          </div>

          <div class="plan__sec b7 l">
            <input name="info" type="hidden" value="Корпус Б, <br>7 этаж, <br>квартир - 6">
          </div>

          <div class="plan__sec b6 l">
            <input name="info" type="hidden" value="Корпус Б, <br>6 этаж, <br>квартир - 6">
          </div>

          <div class="plan__sec b5 l">
            <input name="info" type="hidden" value="Корпус Б, <br>5 этаж,<br>квартир - 6">
          </div>

          <div class="plan__sec b4 l">
            <input name="info" type="hidden" value="Корпус Б, <br>4 этаж,<br>квартир - 6">
          </div>

          <div class="plan__sec b3 l">
            <input name="info" type="hidden" value="Корпус Б, <br>3 этаж,<br>квартир - 6">
          </div>

          <div class="plan__sec b2 l">
            <input name="info" type="hidden" value="Корпус Б, <br>2 этаж, <br>квартир - 6 <br><span>(Пентхаус)<span>">
          </div>


          <!-- Корус В -->
          <div class="plan__sec v10 m">
            <input name="info" type="hidden" value="Корпус В, <br>10 этаж, <br>квартир - 4">
          </div>

          <div class="plan__sec v9 m">
            <input name="info" type="hidden" value="Корпус В, <br>9 этаж, <br>квартир - 4">
          </div>

          <div class="plan__sec v8 m">
            <input name="info" type="hidden" value="Корпус В, <br>8 этаж, <br>квартир - 4">
          </div>

          <div class="plan__sec v7 m">
            <input name="info" type="hidden" value="Корпус В, <br>7 этаж, <br>квартир - 4">
          </div>

          <div class="plan__sec v6 m">
            <input name="info" type="hidden" value="Корпус В, <br>6 этаж, <br>квартир - 4">
          </div>

          <div class="plan__sec v5 m">
            <input name="info" type="hidden" value="Корпус В, <br>5 этаж, <br>квартир - 4">
          </div>

          <div class="plan__sec v4 m">
            <input name="info" type="hidden" value="Корпус В, <br>4 этаж, <br>квартир - 4">
          </div>

          <div class="plan__sec v3 m">
            <input name="info" type="hidden" value="Корпус В, <br>3 этаж, <br>квартир - 4">
          </div>

          <div class="plan__sec v2 m">
            <input name="info" type="hidden" value="Корпус В, <br>2 этаж, <br>квартир - 4<br> <span>(Пентхаус)<span>">
          </div>


          <!-- Корус А -->
          <div class="plan__sec a15 r">
            <input name="info" type="hidden" value="Корпус А, <br>15 этаж, <br>квартир - 2">
          </div>

          <div class="plan__sec a14 r">
            <input name="info" type="hidden" value="Корпус А, <br>14 этаж, <br>квартир - 2">
          </div>

          <div class="plan__sec a13 r">
            <input name="info" type="hidden" value="Корпус А, <br>13 этаж, <br>квартир - 9">
          </div>

          <div class="plan__sec a12 r">
            <input name="info" type="hidden" value="Корпус А, <br>12 этаж, <br>квартир - 9">
          </div>

          <div class="plan__sec a11 r">
            <input name="info" type="hidden" value="Корпус А, <br>11 этаж, <br>квартир - 9">
          </div>

          <div class="plan__sec a10 r">
            <input name="info" type="hidden" value="Корпус А, <br>10 этаж, <br>квартир - 9">
          </div>

          <div class="plan__sec a9 r">
            <input name="info" type="hidden" value="Корпус А, <br>9 этаж, <br>квартир - 9">
          </div>

          <div class="plan__sec a8 r">
            <input name="info" type="hidden" value="Корпус А, <br>8 этаж, <br>квартир - 9">
          </div>

          <div class="plan__sec a7 r">
            <input name="info" type="hidden" value="Корпус А, <br>7 этаж, <br>квартир - 9">
          </div>

          <div class="plan__sec a6 r">
            <input name="info" type="hidden" value="Корпус А, <br>6 этаж, <br>квартир - 9">
          </div>

          <div class="plan__sec a5 r">
            <input name="info" type="hidden" value="Корпус А, <br>5 этаж, <br>квартир - 9">
          </div>

          <div class="plan__sec a4 r">
            <input name="info" type="hidden" value="Корпус А, <br>4 этаж, <br>квартир - 9">
          </div>

          <div class="plan__sec a3 r">
            <input name="info" type="hidden" value="Корпус А, <br>3 этаж, <br>квартир - 9">
          </div>



          <div class="plan__info">
            <div class="plan__info__inner">
              <p class="plan__info__title">13-15 этаж<br>Квартир 5</p>
              <p class="plan__info__subtitle">План этажа<br>План квартиры</p>
            </div>
          </div>

          <img src="@img/city.png" alt="apart" class="plan__apart__right">
          <img src="@img/city2.png" alt="apart" class="plan__apart__left">
        </div>
        <img src="@img/plan_rou.png" alt="plan" class="">
      </div>

    </div>
  </div>
</div>
