<div class="pride">
  <div class="container">
    <div class="pride__inner">

      <div class="main__title__block">
        <img src="@i/mini_logo.png" alt="logo" class="main__title__img">
        <div class="main__title__right">
          <p class="main__subtitle">Есть чем</p>
          <h3 class="main__title">Гордиться</h3>
        </div>
      </div>

      <div class="pride__block">
        <div class="pride__left">
          <div class="pride__left__way">
            <div class="pride__left__circle"></div>
            <div class="pride__left__line"></div>
            <div class="pride__left__circle"></div>
            <div class="pride__left__line"></div>
            <div class="pride__left__circle"></div>
          </div>
          <div class="pride__left__info">
            <div class="pride__left__item"><span>12</span> лет работы</div>
            <div class="pride__left__item"><span>170</span> клиентов<p>более</p></div>
            <div class="pride__left__item"><span>100 000</span> квадратных <br> метров</div>
          </div>
        </div>

        <div class="pride__right">
          <img src="@img/kartink.png" alt="pride" class="pride__img">
        </div>
      </div>

    </div>
  </div>
</div>