<div class="search">
  <div class="container">
    <div class="search__inner">
      <p class="search__nothig">Квартиры не найдены</p>
      <div class="search__block">

        <div class="search__item">
          <p class="option__item__title">А, 2 этаж, 32.72м²</p>

          <input name="ploshad" type="hidden" value="32.72">
          <input name="image" type="hidden" value="assets/img/photo/et/a3_8/a3_8_6.jpg">
          <input name="title" type="hidden" value="Блок А, 3 этаж, 32.72м²">

          <input name="room" type="hidden" value="1-комнатные">
          <input name="etaj" type="hidden" value="2 этаж">
          <input name="home" type="hidden" value="Parklane">

          <a href="assets/img/photo/et/a3_8/a3_8_6.jpg" class="option__item__image">
            <img src="assets/img/photo/et/a3_8/a3_8_6.jpg" alt="option" class="option__item__img">
          </a>
          <div class="option__item__info">
            <div class="option__info__item">
              <div class="option__info__item__img__outer">
                <img src="assets/img/icons/build.png" alt="info" class="option__info__item__img">
              </div>
              <p class="option__info__item__text">Этаж 3, А</p>
            </div>
            <div class="option__info__item">
              <div class="option__info__item__img__outer">
                <img src="assets/img/icons/floor.png" alt="info" class="option__info__item__img">
              </div>
              <p class="option__info__item__text">32.72м²</p>
            </div>
          </div>
          <input name="info" type="hidden" value="Гостинная<span>18,52м²</span>">
          <input name="info" type="hidden" value="Кухня<span>6,31м²</span>">
          <input name="info" type="hidden" value="Прихожая<span>3.98м²</span>">
          <input name="info" type="hidden" value="С/У<span>3.91м²</span>">
          <input name="info" type="hidden" value="Лоджия<span>1.55м²</span>">
        </div>

        <div class="search__item">
          <p class="option__item__title">А, 3 этаж, 32.72м²</p>

          <input name="ploshad" type="hidden" value="32.72">
          <input name="image" type="hidden" value="assets/img/photo/et/a3_8/a3_8_6.jpg">
          <input name="title" type="hidden" value="Блок А, 3 этаж, 32.72м²">

          <input name="room" type="hidden" value="1-комнатные">
          <input name="etaj" type="hidden" value="3 этаж">
          <input name="home" type="hidden" value="Parklane">

          <a href="assets/img/photo/et/a3_8/a3_8_6.jpg" class="option__item__image">
            <img src="assets/img/photo/et/a3_8/a3_8_6.jpg" alt="option" class="option__item__img">
          </a>
          <div class="option__item__info">
            <div class="option__info__item">
              <div class="option__info__item__img__outer">
                <img src="assets/img/icons/build.png" alt="info" class="option__info__item__img">
              </div>
              <p class="option__info__item__text">Этаж 3, А</p>
            </div>
            <div class="option__info__item">
              <div class="option__info__item__img__outer">
                <img src="assets/img/icons/floor.png" alt="info" class="option__info__item__img">
              </div>
              <p class="option__info__item__text">32.72м²</p>
            </div>
          </div>
          <input name="info" type="hidden" value="Гостинная<span>18,52м²</span>">
          <input name="info" type="hidden" value="Кухня<span>6,31м²</span>">
          <input name="info" type="hidden" value="Прихожая<span>3.98м²</span>">
          <input name="info" type="hidden" value="С/У<span>3.91м²</span>">
          <input name="info" type="hidden" value="Лоджия<span>1.55м²</span>">
        </div>

        <div class="search__item">
          <p class="option__item__title">А, 3 этаж, 32.72м²</p>

          <input name="ploshad" type="hidden" value="32.72">
          <input name="image" type="hidden" value="assets/img/photo/et/a3_8/a3_8_6.jpg">
          <input name="title" type="hidden" value="Блок А, 3 этаж, 32.72м²">

          <input name="room" type="hidden" value="3-комнатные">
          <input name="etaj" type="hidden" value="3 этаж">
          <input name="home" type="hidden" value="Parklane">

          <a href="assets/img/photo/et/a3_8/a3_8_6.jpg" class="option__item__image">
            <img src="assets/img/photo/et/a3_8/a3_8_6.jpg" alt="option" class="option__item__img">
          </a>
          <div class="option__item__info">
            <div class="option__info__item">
              <div class="option__info__item__img__outer">
                <img src="assets/img/icons/build.png" alt="info" class="option__info__item__img">
              </div>
              <p class="option__info__item__text">Этаж 3, А</p>
            </div>
            <div class="option__info__item">
              <div class="option__info__item__img__outer">
                <img src="assets/img/icons/floor.png" alt="info" class="option__info__item__img">
              </div>
              <p class="option__info__item__text">32.72м²</p>
            </div>
          </div>
          <input name="info" type="hidden" value="Гостинная<span>18,52м²</span>">
          <input name="info" type="hidden" value="Кухня<span>6,31м²</span>">
          <input name="info" type="hidden" value="Прихожая<span>3.98м²</span>">
          <input name="info" type="hidden" value="С/У<span>3.91м²</span>">
          <input name="info" type="hidden" value="Лоджия<span>1.55м²</span>">
        </div>
      </div>
    </div>
  </div>
</div>